.search-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.search-ui {
    width: 600px;
    margin-bottom: 16px;
}
.tables, .search-result {
    width: 100%;
}